@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Public+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    width: 100vw;
    font-family: 'Public Sans', sans-serif;
}

main{
    width: 100vw;
}

header {
    width: 100%;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);
}

.nav-cont {
    width: 90%;
    margin: 10px auto;
    display: flex;
    padding:  8px;
    justify-content: space-between;
    align-items: center;    
}


.nav-list ul {
    display: flex;
    padding: 10px 5px;
}

.nav-list ul li { 
    padding: 10px;
}

.nav-list ul li a{
    margin: 5px 10px;
    text-decoration: none;
    padding: 7px 5px;
    font-weight: 400;
    font-size: 1em;
    color: hsl(233, 8%, 62%);
}


.nav-list a:hover {
    color: hsl(233, 26%, 24%);
}

.btn button {
    padding: 17px 40px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.875em;
    font-weight: 700;
    color: #fff;
    border: none;
}

.btn button:hover{
    background-image: linear-gradient(to right, hsl(136, 34%, 45%), hsl(192, 43%, 46%));
}

.hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    margin: 5px auto;
    height: 3px;
    display: block;
    background-color: hsl(233, 8%, 62%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sect-1 {
    width: 100%;
    background-color: hsl(0, 0%, 98%);  
    display: flex;
    flex-direction: row-reverse;
}

.empty {
    display: none;
}

.nxt-gen {
    padding: 50px;
    width: 60%;
    margin: 20px 0px 0px 100px;
}

.nxt-gen h1 {
    width: 70%;
    font-weight: 400;
    font-size: 2.8em;
    margin-top: 80px;
}

.nxt-gen p {
    margin: 20px 0px;
    font-size: 1em;
    width: 75%;
    color: hsl(233, 8%, 62%);
    line-height: 25px;
}

.btn-2 button {
    padding: 15px 30px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.875em;
    font-weight: 700;
    color: #fff;
    border: none;
}

.btn-2 button:hover{
    background-image: linear-gradient(to right, hsl(136, 34%, 45%), hsl(192, 43%, 46%));
}

.img-mock {
    width: 90%;
}

#img-1 {
    margin-top: -270px;
    margin-left: -70px;
}

#img-2 {
    margin-top: -890px;
    margin-left: 130px;
}

.main-sect {
    background: hsl(220, 16%, 96%);
    margin-top: -200px;
}

.sect-2 {
    width: 80%;
    margin: 50px auto;
    padding: 30px 0px;
}

.Easy-bank {
    margin: 20px 0px;
}

.Easy-bank h2 {
    width: 50%;
    font-size: 2em;
    font-weight: 400;
    padding: 10px 0px;
    margin: 10px 0px;
}

.Easy-bank p {
    width: 50%;
    color: hsl(233, 8%, 62%);
    line-height: 1.5em;
    padding: 10px 0px;
    font-weight: 400;
}

.col-1 {
    display: flex;
    padding: 20px 0px;
    margin: 10px 0px;
}


.row-1 img {
    margin: 15px 0px;
}

.row-1 h3 {
    font-size: 1.2em;
    font-weight: 400;
    width: 70%;
    margin: 10px 0px;
}

.row-1 p {
    width: 79%;
    color: hsl(233, 8%, 62%);
    font-size: .9em;
    line-height: 1.3em;
}

.third-sect {
    background-color: hsl(0, 0%, 98%);
}

.sect-3 {
    width: 80%;
    margin: 20px auto;
}

.sect-3 h2 {
    font-size: 2em;
    font-weight: 400;
    padding: 40px 0px;
    margin: 10px 0px;
}

.col-2 {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    margin: 10px 0px;
}

.grid {
    background: hsl(0, 0%, 100%);
    border-radius: 5px;
    max-width: 24%;
}


.first-p {
    font-size: 12px;
    padding: 30px 25px 10px ;
    color: hsl(233, 8%, 62%);
}

.grid h4 {
    padding: 0px 25px;
    width: 70%;
}

.grid h4 a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 300;
    color: hsl(0, 0%, 0%);
}

.grid h4 a:hover {
    color: hsl(136, 65%, 51%);
}

.second-p {
    font-size: .9em;
    width: 80%;
    padding: 15px 25px 20px;
    color: hsl(233, 8%, 62%);
}

footer {
    background-color: hsl(233, 26%, 24%);
}

.foot-cont {
    width: 80%;
    margin: 30px auto 10px;
    display: flex;
    align-content: center;
}

.cont-1 {
    padding: 10px 0px;
    text-align: center;
    width: 17%;
}

.logo1 {
    margin: 10px 0px;
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

.logo1 img {
    width: 80%;
}

.social {
    margin: 50px 0px;
    width: 100%;
}

.social .fa-brands{
    width: 20px;
    margin: 0px;
    color: #fff;
}

.social .fa:hover{
    cursor: pointer;
}

.cont-2 {
    margin: 0px 100px;
}

.cont-2 p {
    margin: 20px 0px;
}

.cont-2 p a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.cont-2 p a:hover{
    color: hsl(136, 65%, 51%);
}

.cont-3 {
    margin: 0px 30px;
    flex: 1;
}

.cont-3 p {
    margin: 20px 0px;
}

.cont-3 p a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.cont-3 p a:hover{
    color: hsl(136, 65%, 51%);
}

.cont-4 {
    text-align: right;
}

.cont-4 button {
    padding: 15px 40px;
    margin: 20px 0px ;
    border-radius: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.cont-4 button:hover{
    background-image: linear-gradient(to right, hsl(136, 34%, 45%), hsl(192, 43%, 46%));
}

.cont-4 p {
    color: hsl(220, 16%, 96%);
    font-size: 1em;
}


.attribution {
    font-size: 11px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.attribution a {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    
}

.attribution a:hover{
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 600px){

    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        width: 100vw;
    }

    nav {
        width: 100vw;
    }

    .nav-cont {
        width: 90%;
        padding: 5px 0px;
    }

    .nav-list ul{
        position: absolute;
        top: 60px;
        width: 85%;
        margin: 20px auto;
        background-color: hsl(0, 0%, 100%);
        right: -100%;
        flex-direction: column;
        text-align: center;
        border-radius: 5px;
        transition: .7s;
        box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
    }

    .nav-list ul li{
       margin: 8px 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger.open .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.open .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.open .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-list ul.open {
        left: 0;
        right: 0;
    }
    
    .btn button {
        display: none;
    }

   .first-sect {
        width: 100%;
    }

    .sect-1 {
        display: block;
    }

    
    .img-mock {
        display: none;   
    }

    .empty {
        display: block;
    }

    #mb-bg {
        width: 100%;
        margin-top: -50px;
    }

    #phone {
        width: 100%;
        margin-top: -700px;
        margin-bottom: 60px;
    }

    .nxt-gen {
        padding: 0px;
        width: 95%;
        margin: auto auto;
        text-align: center;
        margin-top: -30px;
        margin-bottom: 70px;
    }

    .nxt-gen h1 {
        width: 100%;
        padding: 0px;
        font-size: 2.5em;
        margin-top: -5px;
        
    }

    .nxt-gen p {
        width: 100%;
        font-size: .9em;
        line-height: 25px;
        font-weight: 400;
    }

    .main-sect {
        margin-top: 0px;
        width: 100%;
    }

    .sect-2 {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 90%;
    }

    .Easy-bank {
        margin: 0px;
    }

    .Easy-bank h2 {
        width: 100%;
        margin: auto auto;
    }

    .Easy-bank p {
        width: 100%;
        font-size: .9em;
        margin: auto auto;
    }

    .col-1 {
        display: block;
    }

    .row-1 {
        margin: 10px auto;
    }

    .row-1 h3 {
        width: 100%;
        margin: 10px auto;
    }

    .row-1 p {
        width: 100%;
        margin: 10px auto;
        line-height: 21px;
        font-size: .85em;
    }

    .third-sect {
        width: 100%;
    }

    .sect-3 {
        width: 90%;
    }

    .col-2 {
        display: block;
        width: 100%;
        margin-top: -40px;
    }

    .sect-3 h2 {
        margin: 40px;
        padding: 0px;
        text-align: center;
    }

    .grid {
        max-width: 100%;
        margin: 10px auto;
    }

    .grid img {
        width: 100%;
    }

    .first-p {
        padding: 15px 20px;
        font-size: .7em;
    }

    .grid h4 {
        width: 83%;
        font-size: .851em;
        padding: 0px 20px;
    }

    .second-p {
        font-size: .8em;
        width: 80%;
        line-height: 20px;
        font-weight: 400;
        padding: 15px 20px;
    }

    .foot-cont {
        width: 90%;
        display: block;
    }

    .cont-1 {
        width: 100%;
    }

    .logo1 img {
        width: 35%;
    }

    .social {
        width: 60%;
        margin: 20px auto;
    }

    .cont-2 {
        text-align: center;
    }

    .cont-3 {
        text-align: center;
        margin: -20px auto;
    }

    .cont-4 {
        text-align: center;
        margin: 20px auto;
    }

    .cont-4 p {
        font-size: .9em;
        color: hsl(233, 8%, 62%);
    }

    .attribution {
        margin-top: -15px;
    }

}